[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
music-metadata-edi = "==20.8"
pandas = "*"
numpy = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
